@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

:root {
  --c-main: #FFA9A3;
  --c-second: #7D938A;
  --c-third: #c9dfe6;
  --c-background: white;
  --c-main-selection: #FFA9A350;
}

pre[class*="astro-code"] {
  border-radius: 0.5rem;
  padding: 1em;
  margin-bottom: 20px;
  overflow: auto;
}

.booklist img {
  width: 10px;
}

.book-shelf-logo {
  color: var(--c-main);
  font-size: Min(6rem, calc(14vw));
  height: 8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(
      344deg,
      var(--c-second) 13%,
      rgba(255, 255, 255, 0) 71%
    ),
    radial-gradient(
      ellipse at -120% 6%,
      var(--c-third) 35%,
      rgba(255, 255, 255, 0) 66%
    ),
    linear-gradient(13deg, var(--c-main) 40%, rgba(255, 255, 255, 0) 87%);
}

.book {
  list-style-position: outside;
}

.book::before {
  margin-top: -35px;
  display: block;
  padding-top: 35px;
}

::selection {
  background-color: var(--c-main-selection);
}

svg {
  height: 20px;
  width: 20px;
  transition: fill 0.2s;
  fill: lightgrey;

  &:hover {
    fill: var(--c-main);
  }
}

.b--c-main {
  border-color: var(--c-main);
}

.b--c-second {
  border-color: var(--c-second);
}

.b--c-third {
  border-color: var(--c-third);
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* Custom Colors */
.c-main {
  color: var(--c-main);
}

.c-second {
  color: var(--c-second);
}

.c-third {
  color: var(--c-third);
}

body {
  background-color: var(--c-background);
}

.textBody hr {
  margin-bottom: 25px;
}

.textBody li {
  margin-left: 1.2rem;
  line-height: 1.5;
}

.textBody :is(ul, ol) {
  margin-bottom: 20px;
}

.textBody {
  line-height: 1.5;
  font-family: "Roboto";
  margin-bottom: 3rem;
  color: var(--c-second);
  font-size: 1.125rem;
}

.booklist {
  font-size: 5em;
}

@media only screen and (max-width: 768px) {
  .textBody {
    font-size: 1rem;
  }

  .booklist {
    font-size: 4em;
  }
}

.textBody .academic p {
  font-family: serif;
  font-size: 1em;
  line-height: 1.75em;
  color: black;
  background-color: transparent;
}

.textBody p {
  font-family: "Roboto";
  margin-bottom: 20px;
}

li > p {
  margin-bottom: 5px !important;
}

blockquote > p {
  margin-bottom: 5px !important;
}

blockquote {
  margin-bottom: 20px;
}

.textBody :is(h1, h2, h3) {
  font-family: "Roboto";
  margin-bottom: 20px;
}

.textBody :is(h2, h3, h4, h5, h6) {
  font-family: "Roboto";
  color: var(--c-second);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-weight: 400;
  color: var(--c-main);
}

h3 {
  font-weight: lighter;
}

h3 a,
h3 small {
  font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 400;
}

input {
  /* For Safari 3.1 to 6.0 */
  transition: font-size 0.05s;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 0;
  color: var(--c-second);
  border-color: var(--c-main);
  width: 100%;
  outline: none;
  background: white;
  background-color: var(--c-background);
  z-index: 100;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  line-height: normal;

  &:focus {
    box-shadow: 0 0 0 1px var(--c-main);
  }
}

button {
  font-family: Helvetica, sans-serif;
  color: var(--c-second);
  padding: 5px;
  background: none;
  border: 1px solid var(--c-second);
  outline: none;
  border-color: var(--c-main);
  box-shadow: none;
  transition: background 0.2s;

  &:active {
    box-shadow: 0 0 0 1px var(--c-main);
  }

  &:hover {
    background-color: rgba(255, 134, 82, 0.25);
  }
}

#loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--c-second);
  border-radius: 50%;
  border-top-color: rgba(255, 255, 255, 0);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

input:hover {
  border-color: var(--c-main);
}

input.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

input::placeholder {
  color: var(--c-second);
  opacity: 0.7;
}

.profile {
  width: Min(12rem, 30vw);
  float: right;
  margin-right: 0px;
  margin-left: 50px;
  margin-bottom: 10px;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.8rem;
  border-left: 5px solid #ccc;
}

@media screen and (max-width: 30em) {
  .profile {
    display: block;
    float: none;
    width: 10rem;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .post-date {
    display: none;
  }

  .post-date-small {
    display: block;
  }
}

@media screen and (min-width: 30em) {
  .post-date {
    display: block;
  }

  .post-date-small {
    display: none;
  }
}

hr {
  border: 1px solid rgba(41, 115, 115, 0.25);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
