---
import Layout from "../components/Layout.astro";
import { Content, frontmatter } from "../content/about/about.md";

const { title } = frontmatter;
---

<Layout title={title} description="">
  <h1 class="mt0">{title}</h1>
  <div>
    <img class="profile" src="/assets/profile.jpg" alt="Headshot Photo" />
  </div>
  <div class="textBody">
    <Content />
  </div>
</Layout>
