---
import Layout from "../components/Layout.astro";
import BookList from "../components/BookList";
import { getBookShelfData } from "../lib/source-local";

const data = await getBookShelfData();

const title = "my book shelf";
---

<Layout title={data.title} description="">
  <h1 class="mt0">{title}</h1>
  <BookList bookShelf={data} client:idle />
</Layout>
