---
import Layout from "../components/Layout.astro";
import PostEntry from "../components/PostEntry.astro";

const title = "kahvi's blog";
const description = "I create here sometimes. And rarely capitalize.";

const allPosts = await Astro.glob("../content/posts/*.md");
const sortedPosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf(),
  )
  .filter((p) => p.frontmatter.hidden !== true);
---

<Layout title={title} description={description}>
  <body>
    {
      sortedPosts
        .map((entry, ind, arr) => ({
          current: entry,
          previous: arr[ind - 1] ?? null,
        }))
        .map(({ current, previous }) => (
          <PostEntry current={current} previous={previous} />
        ))
    }
  </body>
</Layout>
