---
import { getCollection } from "astro:content";
import Layout from "../components/Layout.astro";
import BlogList from "../components/BlogList";
import BookListLogo from "../components/BookListLogo.astro";

const siteMetadata = {
  title: `kahvi's blog`,
  author: `Kahvi Patel`,
  description: `I create here sometimes. And rarely capitalize.`,
  siteUrl: `https://kahvipatel.com/`,
  newsletterLink: "https://www.newsletter.kahvipatel.com",
  social: {
    twitter: `iamkahvi`,
    instagram: `iamkahvi`,
  },
};

const { title, description, newsletterLink } = siteMetadata;

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
// .filter((p) => p.data?.published === true);
---

<Layout title={title} description={description}>
  <body>
    <BookListLogo />
    <a
      class="mb4 w-100 roboto flex items-center justify-center"
      href={newsletterLink}>go to the newsletter HERE</a
    >
    <BlogList posts={sortedPosts} client:load />
  </body>
</Layout>
