---
import Layout from "../components/Layout.astro";
import { Content } from "../content/pronounce/pronounce.md";

const title = "pronounce";
---

<Layout title={title} description="">
  <div class="textBody">
    <Content />
  </div>
</Layout>
