---
const title = "Book Shelf";
---

<div class="logo-container">
  <a
    class="mb4 w-100 book-shelf-logo flex items-center justify-center"
    href="/book-shelf/"
  >
    <p class="b helvetica tc">{title}</p>
  </a>
</div>
