---
import "../styles/global.css";
import "../styles/tachyons.css";
import "../styles/style.css";
import "../styles/links.css";

const { title, description } = Astro.props;
const navStyle = "roboto c-main";
const descriptionStyle = "f6 roboto pt1 mt2 c-second";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <header class="pa3">
    <div class="flex items-center justify-between">
      <p class="c-third">
        <a href="/" class={navStyle.concat(" mr2")}> Home</a>
         /
        <a href="/book-shelf" class={navStyle.concat(" mh2")}> Book Shelf</a>
         /
        <a href="/about" class={navStyle.concat(" ml2")}> About</a>
      </p>
    </div>
    {
      Astro.url.pathname === "/" && (
        <div>
          <div class="mt4">
            <h1 class="mb0 b helvetica underline f1">{title}</h1>
            <p class={descriptionStyle}>{description}</p>
          </div>
        </div>
      )
    }
  </header>
  <main class="pa3"><slot /></main>


</html>
